name: Add close comment

on:
  workflow_call:
    inputs:
      target_organization:
        required: false
        type: string

jobs:
  close-comment:
    if: ${{ !inputs.target_organization || github.repository_owner == inputs.target_organization }}
    runs-on: ${{ (!github.event.repository.private && 'ubuntu-latest') || fromJSON('["self-hosted", "large"]') }}
    env:
      FORCE_COLOR: 1
    steps:
      - run: |
          branchNumber=${{github.head_ref}}
          branchNumber=($(echo $branchNumber | tr "_" "-"))
          branchNumber=($(echo $branchNumber | tr "-" "\n"))
          re='^[0-9]+$'
          if [[ $branchNumber =~ $re ]]; then
            comment=$(curl \
              -H "Accept:application/vnd.github+json" \
              -H "Authorization:token ${{ secrets.GITHUB_TOKEN }}" \
              https://api.github.com/repos/${{ github.repository }}/issues/${{ github.event.pull_request.number }} )
            commentBody=$(echo $comment | jq .body)
            commentBody=$(echo $commentBody | tr -d "\"")
            newBody="close #$branchNumber\r\n$commentBody"
            curl \
              -X PATCH \
              -H "Accept:application/vnd.github+json" \
              -H "Authorization:token ${{ secrets.GITHUB_TOKEN }}" \
              https://api.github.com/repos/${{ github.repository }}/issues/${{ github.event.pull_request.number }} \
              -d "{\"body\": \"${newBody}\"}"
          fi
