name: Debug

on:
  workflow_call:

jobs:
  debug:
    runs-on: ${{ (!github.event.repository.private && 'ubuntu-latest') || fromJSON('["self-hosted", "medium"]') }}
    env:
      FORCE_COLOR: 3
    steps:
      - uses: actions/checkout@v6
      - run: |
          pwd
          ls -al
          echo "${{ !github.event.repository.private || inputs.github_hosted_runner }}"
