name: Sync

on:
  workflow_call:
    inputs:
      sync_params_without_dest:
        required: false
        type: string
      target_organization:
        required: false
        type: string
        default: WillBooster
    secrets:
      DEST_GIT_URL:
        required: true

jobs:
  sync:
    # Make this workflow not work on other organizations for safety
    if: ${{ github.event_name != 'pull_request' && (!inputs.target_organization || github.repository_owner == inputs.target_organization) }}
    runs-on: self-hosted
    env:
      FORCE_COLOR: 3
    steps:
      # To trigger other workflows when running 'git push'
      - name: Checkout code with git
        run: |
          rm -rf .git
          rm -rf ./*
          rm -rf .[^.]*
          git init --initial-branch=main
          git remote add origin git@github.com:${{ github.repository }}.git
          git fetch origin ${{ github.head_ref || github.ref_name }}
          git checkout ${{ github.head_ref || github.ref_name }}

      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest
      - name: Show environment information
        run: |
          echo "bun: $(bun -v)"
          echo "one-way-git-sync: $(bunx --bun one-way-git-sync --version)"

      - run: |
          bunx --bun one-way-git-sync ${{ inputs.sync_params_without_dest }} \
            -d ${{ secrets.DEST_GIT_URL }}
        env:
          HUSKY: 0
          LEFTHOOK: 0
